@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #FAF8F4;
  color: #111110;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #F5F3EF; }
::-webkit-scrollbar-thumb { background: #D1CFC9; border-radius: 3px; }